<#-- @ftlvariable name="admin" type="model.Admin" -->
<@override name="title">修改管理员个人信息</@override>

<@override name="content">

	<div class="ui left aligned grid">
	<div class="row"></div>

	<div class="row">
		<div class="two wide  grid column"></div>
		<div class=" ten wide  grid column ">
			<form class="ui large form"  id="login-form">
				<table class="ui  celled table three column">
					<thead>
					<tr>
						<th colspan="1">Key</th>
						<th colspan="2">Value</th>
					</tr></thead>
					<tbody>
					<tr>
						<td>工号</td>
						<td class="disabled"><!--这里的input加上disabled 字体颜色没有改变，但是不能输入-->
							<div class="field">
								<div class="ui left disabled input"><!--这里的input加上disabled 字体颜色改变-->
									<input type="text" name="adminid" value="${admin.adminId} ">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>姓名</td>
						<td>
							<div class="field">
								<div class="ui left  input">
									<input type="text" name="username" value="${admin.name} ">
								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td>性别</td>
						<td>
							<div class="field">
								<select class="ui dropdown " name="gender">
									<option value="${admin.gender}">选择性别</option>
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td>电话</td>
						<td>
							<div class="field">
								<div class="ui left  input">
									<input type="text" name="tel" value="${admin.tel}">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>班级</td>
						<td>
							<div class="field">
								<select class="ui dropdown  " name="class">
									<option value="${admin.classNumber}">选择班级</option>
                                    <#list classes as class>
										<option value="${class.classId!"0"}">${class.className!""} </option>
                                    </#list>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td>地址</td>
						<td>
							<div class="field">
								<div class="ui left  input">
									<input type="text" name="address" value="${admin.address}">
								</div>
							</div>
						</td>
					</tr>
<#--					<tr>-->
<#--						<td>管理员权限</td>-->
<#--						<td>-->
<#--							<div class="field">-->
<#--								<div class="ui left  input">-->
<#--									<input type="text" name="power" value="${admin.power}">-->
<#--								</div>-->
<#--							</div>-->
<#--						</td>-->
<#--					</tr>-->
					<tr>
						<td>密码</td>
						<td>
							<div class="field">
								<div class="ui left  input">
									<input type="text" name="password" value="${admin.password}">
								</div>
							</div>
						</td>
					</tr>
                    <#--						<tr>-->
                    <#--							<td>头像</td>-->
                    <#--							<td>-->
                    <#--								<div class="field">-->
                    <#--									<div class="ui left file  input">-->
                    <#--										<input class="ui  button icon-file " type="file" name="avatar"><br>-->
                    <#--&lt;#&ndash;										<input type="button" value="ajax上传" onclick="upload()">&ndash;&gt;-->
                    <#--									</div>-->
                    <#--								</div>-->
                    <#--							</td>-->
                    <#--						</tr>-->
					<tr>
						<td><div class="ui error message"></div></td>

						<td><div class="ui fluid large teal submit button">保存</div></td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>

        <#--  注意使用了middle aligned 就上下居中了
		水平对齐用align="center"
		垂直对齐用Valign="middle"
		-->

	</div>

	<script>
        $('.ui.form').form({
            fields:{
                username :{
                    identifier:'username',
                    rules:[
                        {
                            type:'empty',prompt:'用户名不能为空'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [{
                        type: 'empty', prompt: '密码不能为空'
                    }]
                },
                gender: {
                    identifier: 'gender',
                    rules: [{
                        type: 'empty', prompt: '性别不能为空'
                    }]
                },
                address: {
                    identifier: 'address',
                    rules: [{
                        type: 'empty', prompt: '地址不能为空'
                    }]
                },
                tel: {
                    identifier: 'tel',
                    rules: [{
                        type: 'empty', prompt: '电话不能为空'
                    }]
                },
                // ID: {
                //     identifier: 'ID',
                //     rules: [{
                //         type: 'empty', prompt: '身份证号码不能为空'
                //     }]
                // },
                class: {
                    identifier: 'class',
                    rules: [{
                        type: 'empty', prompt: '班级不能为空'
                    }]
                }
            }
        }).api({
            method:'POST',
            url:'${base}/admin/modify_admin_info_save',
            serializeForm:true,
            success:function (res) {
                alert(res.message);
                if(res.success){
                    window.location.href='${base}/admin'
                }else{
                    $('.ui.form').form('add errors',[res.message]);
                }
            }
        });
	</script>


</@override>

<@extends name="admin_layout.ftl"></@extends>